<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static 'rrhh/img/PS.ico' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'rrhh/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>PS-TIME</title> 
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{%static 'img/logosf.png' %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name"></span>
                    <span class="profession"> <b>PS-TIME</b> </span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'rrhh' %}">
                            <i class='bx material-symbols-outlined icon' >home</i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>

                    <!-- <li class="nav-link">
                        <a href="{% url 'departamentos' %}">
                            <i class='bx bxs-factory icon' ></i>
                            <span class="text nav-text">Departamentos</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'horarios' %}">
                            <i class='bx bx-space-bar icon' ></i>
                            <span class="text nav-text">Horarios</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Asignación</span>
                        </a>
                    </li> -->

                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-truck icon' ></i>
                            <span class="text nav-text">Expedición</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-money icon' ></i>
                            <span class="text nav-text">Liquidación</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Mantenimiento</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-trending-up icon' ></i>
                            <span class="text nav-text">Producción</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-file icon' ></i>
                            <span class="text nav-text">Reportes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-group icon' ></i>
                            <span class="text nav-text">RRHH</span>
                        </a>
                    </li>
                    -->
                </ul>
            </div> 

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx material-symbols-outlined icon' >logout</i>
                        <span class="text"><b>{{user.username}}</b></span>
                    </a>
                </li>                
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="container">       
                <div class="encabezado" style="background-color: #001327">
                    <div class="text" style="font-size: 20px;">GESTOR DE ASISTENCIA - HORARIOS Y ASIGNACIÓN</div>
                </div>
                <div class="cards-consola">
                    <div class="card-consola" style="max-width: 22rem;">
                        <div class="titulo-card">NUEVO TURNO HORARIO</div>
                        <div class="container-tabla-he">
                            <form id="formGuardaTurno" action="" method="POST">
                                <label class="letras" for="TipoHora">Tipo Horario: </label>
                                <select class="selectores" type="checkbox" id="ComboxTipoHorario" name="ComboxTipoHorario">
                                <option value="0">Seleccione</option>
                                <option value="1">Horario Corrido</option>
                                <option value="2">Horario Cortado</option>
                                </select>
                                <div class="formularios">
                                    <div id="horario-cortado" class="columna-centrada" style="display: none; ">
                                        <div class="columna-vertical">
                                            <label class="letras" for="entrada-mañana">Entrada Maña.:</label>
                                            <input class="selectores" type="time" id="entrada-mañana" name="entrada-mañana" style="width: 100px;">
                                            <label class="letras" for="salida-mañana">Salida Maña.:</label>
                                            <input class="selectores" type="time" id="salida-mañana" name="salida-mañana" style="width: 100px;">
                                        </div>
                                        <div class="columna-vertical">
                                            <label class="letras" for="entrada-tarde">Entrada Tarde:</label>
                                            <input class="selectores" type="time" id="entrada-tarde" name="entrada-tarde" style="width: 100px;">
                                            <label class="letras" for="salida-tarde">Salida Tarde:</label>
                                            <input class="selectores" type="time" id="salida-tarde" name="salida-tarde" style="width: 100px;">
                                        </div>
                                    </div>
                                    <div id="horario-corrido" class="columna-centrada" style="display: none;">
                                        <div class="columna-vertical">
                                            <label class="letras" for="entrada">Entrada:</label>
                                            <input class="selectores" type="time" id="entrada" name="entrada">
                                        </div>
                                        <div class="columna-vertical">
                                            <label class="letras" for="salida">Salida:</label>
                                            <input class="selectores" type="time" id="salida" name="salida">
                                        </div>
                                    </div>
                                    <div class="columna-vertical">
                                        <input class="input-number" type="text" id="descripcionTurno" style="width: 280px;" name="descripcionTurno" placeholder="DESCRIPCIÓN TURNO">
                                    </div>
                                    <div class="columna-vertical">
                                        <button id="btnGuardaTurnoHorario" class="btn-submit botones" type="button"><b>Guardar</b></button>
                                    </div>
                                </div>
                            </form>
                            <div id="infoParrafo">
                                
                            </div>
                        </div>
                    </div>

                    <div class="card-consola">
                        <div class="titulo-card">ASIGNACIÓN DE HORARIOS</div>
                        <div class="container-tabla-he" style="max-height: 26rem;">
                            <div class="row_items">
                                <div class="items-row">
                                    <form action="" id="formBuscaDepto-Legajos" method="POST">
                                        <div style="margin-right: 10px;">
                                            <label class="letras" for="TipoAsig">Asignar por:</label>
                                            <select class="selectores" type="checkbox" id="ComboxAsignarPor" name="ComboxAsignarPor">
                                            <option value="0">Seleccione</option>
                                            <option value="D">Departamentos</option>
                                            <option value="L">Legajos</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div id="tabla-legajos" class="container-tabla-he" style="max-height: 25rem; display: none;">
                                <table class="pre-hs-ex">
                                     <thead>
                                        <tr>
                                            <th style="width: 40px;"><i class='bx bx-check icon'></i></th>
                                            <th style="width: 80px;">Legajo</th>
                                            <th style="width: 245px;">Apellido y Nombre</th>
                                            <th style="width: 160px;">Departamento</th>
                                            <th >Horario</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAsignarHorario">
                                        
                                    </tbody>
                                </table>                          
                            </div>
                            <div id="tabla-departamentos" class="container-tabla-he" style="max-height: 25rem; display: none;">
                                <table class="pre-hs-ex">
                                     <thead>
                                        <tr>
                                            <th style="width: 40px;"><i class='bx bx-check icon'></i></th>
                                            <th >Departamento</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyAsignarHorarioDepto">
                                        
                                    </tbody>
                                </table>                          
                            </div>
                        </div>
                        <div class="columna-vertical">
                            <div style="margin-right: 20px; display: none;" id="ComboxTurnoHorario" >
                                <label class="letras" for="TipoAsig">Horarios</label>
                                <select class="selectores" type="checkbox" id="ComboxHorarios" name="ComboxHorarios">
                                    
                                </select>
                            </div>
                            <button id="btnGuardaAsignacionHorario" class="btn-submit botones" type="button"><b>Guardar</b></button>
                        </div>
                        <div id="infoParrafo">
                            <p style="color: darkgreen; font-size: 13px;"><b>${Message}</b></p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal-container">
          <div class="demo-container">
            <div class="progress-bar">
              <div class="progress-bar-value"></div>
            </div>
          </div>
        </div>
      </div>
    <script src="{%static 'rrhh/js/horarios.js' %}"></script>
</body>
</html>