<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static 'Inicio/img/PS.ico' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'Inicio/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>PXS</title> 
</head>
<body>
    <section class="home">
        <div class="container">  
            {% block content %}
            <div class="encabezado">
            </div>
            <div class="imageInicio">
                <div class="logoInicio">
                </div>
                <div class="login-form">
                    <h2>Iniciar Sesión</h2>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Usuario" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Contraseña" id="password" name="password" required>
                        </div>
                        <button class="button" type="button" id="login-button">Ingresar</button>
                    </form>
                </div>
            </div>
            {% endblock %}
        </div>
    </section>
    <div id="popup" class="popup">
        <span class="close" id="closePopup">&times;</span>
        <div id="mensaje-pop-up">
      
        </div>
    </div>
    <!-- El popup -->
    <div id="pop-pass" class="pop-pass">
        <div id="popupContent">
            <h2>Requiere Cambio de Contraseña</h2>
            <form id="changePasswordForm" method="post">
                <div class="form-group-changePassword">
                    <input type="password" placeholder="Contraseña Actual" id="currentPassword" name="currentPassword" required>
                </div>
                <div class="form-group-changePassword">
                    <input type="password" placeholder="Nueva Contraseña" id="newPassword" name="newPassword" required>
                </div>
                <div class="form-group-changePassword">
                    <input type="password" placeholder="Confirmar Nueva Contraseña" id="confirmPassword" name="confirmPassword" required>
                </div>
                <p class="password-conditions">
                    La contraseña debe contener al menos 8 caracteres, incluyendo letras mayúsculas, minúsculas y números.
                </p>
                <button type="button" class="button" id="changePasswordButton">Guardar Contraseña</button>
            </form>
        </div>
    </div>
    <script src="{%static 'Inicio/js/inicio.js' %}"></script>

</body>


</html>