{% extends "ZTime/inicio/index.html" %}

{% load static %}

{% block content %}
  <div class="formZetone">
    <div class="centroZetone">
      <form id="formCalcHoras" action="" method="POST">
        <div class="row">
          <div class="roeZetone">
            <label>Legajo:</label>
            <input style="width: 6rem;" maxlength="6" type="number" id="legajo" name="legajo" class="fechasZetone" placeholder="000000" >
          </div>
          <div class="roeZetone">
            <select class="" type="checkbox" id="departamento" name="departamento">
              <option value="Seleccione">Seleccione</option>
              <option value="Todos">Todos</option>
              <!--<option value="Calidad">Calidad</option>
              <option value="Empaque">Empaque</option>-->
              <!--<option value="Frío">Frío</option>-->
              <!--<option value="Maquinistas">Maquinistas</option>-->
              <!--<option value="Portería">Portería</option>-->
              <!--<option value="Taller">Taller</option>-->
            </select>
          </div>
          <div class="roeZetone">
            <label for="desde">Desde:</label>
            <input type="date" id="desde" name="desde" class="fechasZetone">
          </div>
          <div class="roeZetone">
            <label for="hasta">Hasta:</label>
            <input type="date" id="hasta" name="hasta" class="fechasZetone">
          </div>
          <div class="roeZetone">
            <button type="submit" class="button" id="mostraCalcHoras">BUSCAR</button>
          </div>
          <div class="roeZetone" style="margin-left: 100px;" >
            <select class="" type="checkbox" id="export" name="export">
              <option value="EXCEL">EXCEL </option>
              <!--<option value="EXCEL">EXCEL</option>
              <option value="PDF">PDF</option>-->
            </select>
          </div>
          <div class="roeZetone">
            <button class="button" id="exportCalculo">Exportar</button>
          </div>
          <div class="roeZetone">
            <div class="download" id="descargaCalculo">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="tablaZetone">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Legajo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Día</th>
              <th scope="col">Fecha</th>
              <th scope="col">Entrada</th>
              <th scope="col">Salida</th>
              <th scope="col">Entrada</th>
              <th scope="col">Salida</th>
              <th scope="col">Hs. Mañ.</th>
              <th scope="col">Hs. Tar.</th>
              <th scope="col">Hs.Extra</th>
            </tr>
          </thead>
          <tbody id="tableCalHoras">     
          </tbody>
        </table>
  </div>
  <script>
    window.onload = function(){
    var fecha = new Date(); //Fecha actual
    var mes = fecha.getMonth()+1; //obteniendo mes
    var dia = fecha.getDate(); //obteniendo dia
    var ano = fecha.getFullYear(); //obteniendo año
    if(dia<10)
      dia='0'+dia; //agrega cero si el menor de 10
    if(mes<10)
      mes='0'+mes //agrega cero si el menor de 10
    document.getElementById('desde').value=ano+"-"+mes+"-"+dia;
    document.getElementById('hasta').value=ano+"-"+mes+"-"+dia;
    }
  </script>
  {% endblock %}