<html lang="es">

</html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static 'rrhh/img/PS.ico' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'rrhh/css/style.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>PS</title>
</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{%static 'rrhh/img/PS.png' %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name"></span>
                    <span class="profession"> <b>PS</b> </span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'new_principal' %}">
                            <i class='bx material-symbols-outlined icon'>home</i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'reportes_calidad_empaque' %}">
                            <i class='bx material-symbols-outlined icon'>draft</i>
                            <span class="text nav-text">Calidad E.</span>
                        </a>
                    </li>

                    <!-- <li class="nav-link">
                        <a href="{% url 'rrhh' %}">
                            <i class='bx material-symbols-outlined icon' >group</i>
                            <span class="text nav-text">RRHH</span>
                        </a>
                    </li> -->

                    <!-- <li class="nav-link">
                        <a href="{% url 'inicio_principal' %}">
                            <i class='bx material-symbols-outlined icon' >double_arrow</i>
                            <span class="text nav-text">R. Viejos</span>
                        </a>
                    </li> -->

                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">ETE</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-truck icon' ></i>
                            <span class="text nav-text">Expedición</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-money icon' ></i>
                            <span class="text nav-text">Liquidación</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Mantenimiento</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-trending-up icon' ></i>
                            <span class="text nav-text">Producción</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-file icon' ></i>
                            <span class="text nav-text">Reportes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-group icon' ></i>
                            <span class="text nav-text">RRHH</span>
                        </a>
                    </li>
                    -->
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx material-symbols-outlined icon'>logout</i>
                        <span class="text"><b>{{user.username}}</b></span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="container">
            {% block content %}
            <div class="encabezado" style="background-color: #001327">
                <div class="text" style="font-size: 20px;">EMPAQUE - CALIDAD - REPORTES</div>
            </div>
            {% endblock %}
        </div>
    </section>



</body>

<div id="popup" class="popup">
    <span class="close" id="closePopup">&times;</span>
    <div id="mensaje-pop-up">

    </div>
</div>

</html>