{% extends "Empaque/Inicio/index.html" %}

{% load static %}

{% block content %}
  <div class="formZetone">
    <div class="form-buscar">
        <form id="formReportesCamaras" action="" method="POST">{% csrf_token %}
            <div>
                <div >REPORTES</div>
                <div class="roeZetone">
                    <label class="letras" for="desde">Fecha:</label> 
                    <input type="date" id="fechaReporte" name="fechaReporte" class="calendar" required>
                </div>
                <div class="roeZetone" style="align-items: center;">
                    <label class="letras">Tipo:</label>
                      <select class="selectores" type="checkbox" id="hora" name="hora">
                      <option value="Control Cámaras">Control Cámaras</option>
                      <option value="Control Descarte">Control Descarte</option>
                      <option value="Control Empaque">Control Empaque</option>
                      <option value="Control Presiones">Control de Presiones</option>
                      <option value="Ingreso Bascula">Ingreso Bascula</option>
                    </select>
                </div>
                <div class="roeZetone">
                    <label class="letras">Planta: </label>
                      <select class="selectores" type="checkbox" id="planta" name="planta">
                      <option value="Planta Uno">Planta Uno</option>
                    </select>
                </div>
            <div class="roeZetone">
                <button type="submit" class="button" id="buscarReportes">BUSCAR</button>
            </div>
            <div class="roeZetone" id="descargarReportesCamaras">
            </div>
          </div>
        </form>
    </div>
  </div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="loaderZetoProgressBar" id="progressBar"></div>
  </div>
</div>

<script>
    window.onload = function(){
    var fecha = new Date(); //Fecha actual
    var mes = fecha.getMonth()+1; //obteniendo mes
    var dia = fecha.getDate(); //obteniendo dia
    var ano = fecha.getFullYear(); //obteniendo año
    if(dia<10)
      dia='0'+dia; //agrega cero si el menor de 10
    if(mes<10)
      mes='0'+mes //agrega cero si el menor de 10
    document.getElementById('fechaReporte').value=ano+"-"+mes+"-"+dia;
    }
</script>
  
 
{% endblock %}